extends layout

block content 
  section(class='py-3')
    h1(class="h1")= title

    a(class="btn btn-primary" href="/drinkinstance/create" role="button") Add a Drink Instance

    ul(class='list-group list-group-flush mt-3')
      each instance in instances
        li(class='list-group-item bg-light pl-0')
          p ID: #{instance._id}
          div(class="row")
            div(class="col-sm-12 col-md-6")
              p Drink: 
                a(href=instance.drink.url) #{instance.drink.name}
              if instance.status 
                p Status: 
                  if instance.status=='Available'
                    span(class="text-success") #[strong #{instance.status}]
                  else if instance.status=="Expired"
                    span(class="text-danger") #[strong #{instance.status}]
                  else
                    span(class="text-primary") #[strong #{instance.status}]
              else
                p(class="alert alert-danger") Error: instance.status is missing

            div(class="col-sm-12 col-md-6 d-flex justify-content-between" style={'max-width': '550px'})
              div(class="col")
                a(class="col btn btn-primary" href=instance.url+'/update' role="button") Edit
              div(class="col")
                a(class="col btn btn-outline-danger" href=instance.url+'/delete' role="button") Delete
        

      else 
        p There are no drink instances registered yet.