extends layout

block content 
  section(class='py-3')
    h1(class="h1")= title

    a(class="btn btn-primary" href="/drinkinstance/create" role="button") Add a Drink Instance

    ul(class='list-group list-group-flush')
      each instance in instances
        li(class='list-group-item bg-light pl-0')
          p ID: #{instance._id}
          p Drink: 
            a(href=instance.drink.url) #{instance.drink.name}
          if instance.status 
            p Status: 
              if instance.status=='Available'
                span(class="text-success") #[strong #{instance.status}]
              else if instance.status=="Expired"
                span(class="text-danger") #[strong #{instance.status}]
              else
                span(class="text-primary") #[strong #{instance.status}]
          else
            p(class="text-danger") Error: instance.status is missing

      else 
        li(class='list-group-item bg-light') There are no drink instances registered yet.