extends layout

block content 
  section(class='py-3')
    div(class="row mb-4")

      div(class="h1 col-sm-12 col-md-6 d-flex-column")
        h1(class="") #{brand.name}
        p(class="h6") #{brand.country}

      div(class="col-sm-12 col-md-6 d-flex justify-content-between" style={'max-width': '550px'})
        div(class="col")
            a(class="col btn btn-primary" href=brand.url+'/update' role="button") Update
        div(class="col")
            a(class="col btn btn-outline-danger" href=brand.url+'/delete' role="button") Delete

    p #{brand.description}

    h4(class="h4") Drinks

    a(class="btn btn-primary" href="/drink/create" role="button") Add Drink

    ul(class='list-group mt-3')
      each drink in drinks
        a(href=drink.url class="list-group-item list-group-item-action") 
            p(class="h5 mb-3") #{drink.name }
            div(class="row mr-auto" style={'max-width': '550px'})
                p(class="col") Available: #{statusCount[drink._id].availableCount}
                p(class="col") Expired: #{statusCount[drink._id].expiredCount}
                p(class="col") Sold: #{statusCount[drink._id].soldCount}
          

      else 
        p #{brand.name} has no drinks registered yet.