extends layout

block content 
  section(class='py-3')
    h1(class="h1")= title

    form(method="POST" action ="")
      div.form-group
        label(for="name") Name: 
        input#name.form-control(type="text" placeholder="Brand Name Here" name="name" required='true' value=(undefined===brand ? "" : brand.name))
      
      
      div.form-group
        label(for="country") Country of Origin: 
        select#country(class="form-select form-control" name='country' required='true')
          for country in countries 
            option(value=country.code selected=(undefined===brand ? (country.code==="") : brand.country.toString()===country.code.toString())) #{country.name}
        
      div.form-group
        label(for="year_established") Year Established: 
        input#year_established.form-control(type="number" min="0001" max="2025" step="1" placeholder="1990" name="year_established" value=(undefined===brand ? "" : brand.year_established))
      
      div.form-group
        label(for='description') Description:
        textarea#description.form-control(type='textarea', placeholder="description" name='description') #{undefined===brand ? '' : brand.description}
      
      button(class="btn btn-primary mr-3" type='submit') Submit
      a(class="btn btn-outline-dark" href="/brands" role="button") Cancel

      if errors 
        ul(class="list-group list-group-flush mt-3") 
          for error in errors 
            li(class='list-group-item alert alert-danger') Error: #{error.msg}

    style.
      .dropdown-toggle.btn-default {
          color: #292b2c;
          background-color: #fff;
          border-color: #ccc;
      }

      .bootstrap-select.show>.dropdown-menu>.dropdown-menu {
          display: block;
      }

      .bootstrap-select>.dropdown-menu>.dropdown-menu li.hidden {
          display: none;
      }

      .bootstrap-select>.dropdown-menu>.dropdown-menu li a {
          display: block;
          width: 100%;
          padding: 3px 1.5rem;
          clear: both;
          font-weight: 400;
          color: #292b2c;
          text-align: inherit;
          white-space: nowrap;
          background: 0 0;
          border: 0;
          text-decoration: none;
      }

      .bootstrap-select>.dropdown-menu>.dropdown-menu li a:hover {
          background-color: #f4f4f4;
      }

      .bootstrap-select>.dropdown-toggle {
          width: 100%;
      }

      .dropdown-menu>li.active>a {
          color: #fff !important;
          background-color: #337ab7 !important;
      }

      .bootstrap-select .check-mark {
          line-height: 14px;
      }

      .bootstrap-select .check-mark::after {
          font-family: "FontAwesome";
          content: "\f00c";
      }

      .bootstrap-select button {
          overflow: hidden;
          text-overflow: ellipsis;
      }

      /* Make filled out selects be the same size as empty selects */
      .bootstrap-select.btn-group .dropdown-toggle .filter-option {
          display: inline !important;
      }