extends layout

block content 
  section(class='py-3')
    div(class="mb-4")
        h1(class="h1 col-sm-12 col-md-6") #{drink.name}

    h4(class="h4") Drink Instances
    ul(class='list-group mt-3 container-fluid')
        if instanceDeleteErrorMsg
            p(class="alert alert-danger") #{drink.name} can only be deleted after its instances listed below have been removed.
        else 
            p(class="alert") #{drink.name} can only be deleted after its instances listed below have been removed.

        each instance in instances
            div(class="list-group-item row") 
                div.col
                    p ID: #{instance._id }
                    p Date of Manufacture: #{instance.date_of_manufacture_formatted }
                    p Date of Expiry: #{instance.date_of_expiry_formatted }
                    p Status: 
                        if instance.status=='Available'
                            span(class="text-success") #[strong #{instance.status}]
                        else if instance.status=="Expired"
                            span(class="text-danger") #[strong #{instance.status}]
                        else
                            span(class="text-primary") #[strong #{instance.status}] 
                            span on #{instance.date_of_sale_formatted }
                .col 
                    a(class="btn btn-danger" href=instance.url+"/delete" role="button") Delete
          

        else 
            li(class='list-group-item') #{drink.name} has no instances registered.

    p(class="mt-3") Are you sure you want to remove #{drink.name}?

    form(method="POST" action ="")
        div(class="col-sm-12 col-md-6 d-flex justify-content-between" style={'max-width': '550px'})
            div(class="col")
                a(class="col btn btn-outline-primary" href=backURL role="button") Cancel
            div(class="col")
                button(class="col btn btn-danger" type='submit') Delete