extends layout

block content 
  section(class='py-3')
    div(class="row mb-4")

      div(class="h1 col-sm-12 col-md-6 d-flex-column")
        h1(class="") #{drink.name}
        p(class="h6") #{drink.brand.name}

      div(class="col-sm-12 col-md-6 d-flex justify-content-between" style={'max-width': '550px'})
        div(class="col")
            a(class="col btn btn-primary" href=drink.url+'/update' role="button") Update
        div(class="col")
            a(class="col btn btn-danger" href=drink.url+'/delete' role="button") Delete


    h4(class="h4") Description
    p #{drink.description}

    h4(class="h4") Instances 

    a(class="btn btn-primary" href="/drinkinstance/create" role="button") Add Drink Instance

    ul(class='list-group')
      each drink_instance in drink_instances
        li(class='list-group-item')
          a(href=drink_instance.url) #{drink_instance._id }
          p Date of Manufacture: #{drink_instance.date_of_manufacture_formatted }
          p Date of Expiry: #{drink_instance.date_of_expiry_formatted }
          p Status: 
            if drink_instance.status=='Available'
                span(class="text-success") #[strong #{drink_instance.status}]
            else if drink_instance.status=="Expired"
                span(class="text-danger") #[strong #{drink_instance.status}]
            else
                span(class="text-primary") #[strong #{drink_instance.status}] 
                span on #{drink_instance.date_of_sale_formatted }
      else 
        li(class='list-group-item') This drink has no instances registered yet.